*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    color: white;
    padding: 20px;
    
}


.navbar-brand{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
#box{
    
    margin: auto;
    margin-top: 20px;
   
    
}
input{
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    
}
textarea{
    width: 80%;
    height: 200px;
    padding: 10px;
    margin-bottom: 20px;
}
select{
    margin-bottom: 20px;

}
button{
    margin-bottom: 20px;
}
form{
    padding: 20px;

}
.heading{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btn{
    width: 100px;
}
label{
    font-size: larger;
}
